<%
  sym_name, sym_color =
      case symbol
      when :check
        ['check', 'green']
      when :cross
        ['times', 'red']
      when :question
        ['question', 'yellow']
      else
        ''
      end
%>

<div class="row resource-activity">
  <div class="col-1 px-0 mx-lg-0 mx-md-0">
    <div class="row">
      <div class="col">
        <a data-toggle="collapse"
           class="<%= @theme %>"
           href="#<%= id %>"
           role="button"
           aria-expanded="false"
           aria-controls="<%= id %>">
                <i class="fas fa-plus"></i>
        </a>
      </div>
      <div class="col">
        <i class="fas fa-<%= sym_name %> <%= sym_color %>"></i>
      </div>
    </div>

  </div>


  <div class="col-8 pr-0">
    <a data-toggle="collapse"
       class="<%= @theme %>"
       href="#<%= id %>"
       role="button"
       aria-expanded="false"
       aria-controls="<%= id %>">
      <%= title %>
    </a>
  </div>
</div>
