<div class="s-cb s-cb-<%= @theme %> row border-top py-3">
  <div class="col-2 my-auto">
    <input type="checkbox" id="s_input_1" class="m-0" <%= 'checked' if checked %>>
  </div>
  <div class="col-10 my-auto">
    <label for="s_input_1" class="mb-0">
      <%= title %>
    </label>
  </div>
</div>
