
    <div class="row mb-3">

      <div class="col-md-12 col-lg-12 mb-4 mb-lg-4 mx-auto">
        <div class="h-entry">
          <!--          <img src="images/img_2.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid">-->

          <h3 class="h5 text-black mb-3">
            What activities would you like to do on your trip?
          </h3>

          <form action="#" method="post">

            <fieldset>
            <!-- <legend>Single Element Checkboxes</legend>-->

              <%= render partial: 'activity_list_item',
                         locals: {
                             title: 'Make phone calls or send messages',
                             checked: true
                         }
              %>

              <%= render partial: 'activity_list_item',
                         locals: {
                             title: 'Read',
                             checked: false
                         }
              %>

              <%= render partial: 'activity_list_item',
                         locals: {
                             title: 'Write or edit documents',
                             checked: true
                         }
              %>

              <%= render partial: 'activity_list_item',
                         locals: {
                             title: 'Browse the Internet (including social media, travel info, etc.)',
                             checked: true
                         }
              %>

              <%= render partial: 'activity_list_item',
                         locals: {
                             title: 'Watch videos',
                             checked: false
                         }
              %>

              <%= render partial: 'activity_list_item',
                         locals: {
                             title: 'Listen to music, podcasts, audiobooks or radio',
                             checked: false
                         }
              %>

              <%= render partial: 'activity_list_item',
                         locals: {
                             title: 'Play games',
                             checked: false
                         }
              %>

              <%= render partial: 'activity_list_item',
                         locals: {
                             title: 'Take a nap',
                             checked: true
                         }
              %>

              <%= render partial: 'activity_list_item',
                         locals: {
                             title: 'Talk to other passengers',
                             checked: false
                         }
              %>

              <%= render partial: 'activity_list_item',
                         locals: {
                             title: 'Care for other passengers',
                             checked: false
                         }
              %>

              <%= render partial: 'activity_list_item',
                         locals: {
                             title: 'Eat or drink',
                             checked: true
                         }
              %>
            </fieldset>


            <%= render partial: 'navigation_buttons',
                       locals:  {
                           forward_url: flow_url,
                           back_url:    @mode == 'activity' ? start_activities_url : start_resources_url,
                       }
            %>


          </form>

      </div>

    </div>

  </div>
