

<%#= render partial: 'pages/resource_item',
                                     locals:  {
                                         title: 'tt',
                                         availability: 'tt'
                                     }
%>
<!--  start route_activities 1 -->

<div class="row resources-overview ml-3">

  <%= render partial: 'pages/resource_item_with_route_slim',
             locals:  {
                 id:           id_1,
                 title:        'Seat',
                 availability: 'Very likely',
                 route_items:  [

                                   {
                                       type:         :station,
                                       name:         'Nottingham',
                                       arrival_time: '08:09',
                                   },
                                   {
                                       type:            :resource,
                                       resource_status: 'available'
                                   },
                                   {
                                       type:            :station,
                                       name:            'Beeston',
                                       arrival_time:    '08:19',
                                   },
                                   {
                                       type:            :resource,
                                       resource_status: 'available'
                                   },
                                   {
                                       type:            :station,
                                       name:            'Long Eaton',
                                       arrival_time:    '08:23',
                                   },
                                   {
                                       type:            :resource,
                                       resource_status: 'available'
                                   },
                                   {
                                       type:            :station,
                                       name:            'East Midlands Parkway',
                                       arrival_time:    '08:29',
                                   },
                                   {
                                       type:            :resource,
                                       resource_status: 'available'
                                   },
                                   {
                                       type:            :station,
                                       name:            'Loughborough',
                                       arrival_time:    '08:42',
                                   },
                                   {
                                       type:            :resource,
                                       resource_status: 'available'
                                   },
                                   {
                                       type:            :station,
                                       name:            'Leicester',
                                       arrival_time:    '08:55',
                                   },
                                   {
                                       type:            :resource,
                                       resource_status: 'available'
                                   },
                                   {
                                       type:            :station,
                                       name:            'London St Pancras International',
                                       arrival_time:    '10:04',
                                   }
                               ]
             }
  %>

  <%= render partial: 'pages/resource_item_with_route_slim',
             locals:  {
                 id:           id_2,
                 title:        'Table',
                 availability: 'Possible',
                 route_items:  [

                                     {
                                         type:         :station,
                                         name:         'Nottingham',
                                         arrival_time: '08:09',
                                     },
                                     {
                                         type:            :resource,
                                         resource_status: 'available'
                                     },
                                     {
                                         type:         :station,
                                         name:         'Beeston',
                                         arrival_time: '08:19',
                                     },
                                     {
                                         type:            :resource,
                                         resource_status: 'available'
                                     },
                                     {
                                         type:         :station,
                                         name:         'Long Eaton',
                                         arrival_time: '08:23',
                                     },
                                     {
                                         type:            :resource,
                                         resource_status: 'no-data',
                                     },
                                     {
                                         type:         :station,
                                         name:         'East Midlands Parkway',
                                         arrival_time: '08:29',
                                     },
                                     {
                                         type:            :resource,
                                         resource_status: 'no-data'
                                     },
                                     {
                                         type:         :station,
                                         name:         'Loughborough',
                                         arrival_time: '08:42',
                                     },
                                     {
                                         type:            :resource,
                                         resource_status: 'not-available'
                                     },
                                     {
                                         type:         :station,
                                         name:         'Leicester',
                                         arrival_time: '08:55',
                                     },
                                     {
                                         type:            :resource,
                                         resource_status: 'not-available'
                                     },
                                     {
                                         type:         :station,
                                         name:         'London St Pancras International',
                                         arrival_time: '10:04',
                                     }
                                 ]
             }
  %>

  <%= render partial: 'pages/resource_item_with_route_slim',
             locals:  {
                 id:           id_3,
                 title:        'Power',
                 availability: 'Very likely',
                 route_items:
                               [
                                   {
                                       type:         :station,
                                       name:         'Nottingham',
                                       arrival_time: '08:09',
                                   },
                                   {
                                       type:            :resource,
                                       resource_status: 'available'
                                   },
                                   {
                                       type:         :station,
                                       name:         'Beeston',
                                       arrival_time: '08:19',
                                   },
                                   {
                                       type:            :resource,
                                       resource_status: 'available'
                                   },
                                   {
                                       type:         :station,
                                       name:         'Long Eaton',
                                       arrival_time: '08:23',
                                   },
                                   {
                                       type:            :resource,
                                       resource_status: 'available'
                                   },
                                   {
                                       type:         :station,
                                       name:         'East Midlands Parkway',
                                       arrival_time: '08:29',
                                   },
                                   {
                                       type:            :resource,
                                       resource_status: 'available'
                                   },
                                   {
                                       type:         :station,
                                       name:         'Loughborough',
                                       arrival_time: '08:42',
                                   },
                                   {
                                       type:            :resource,
                                       resource_status: 'available'
                                   },
                                   {
                                       type:         :station,
                                       name:         'Leicester',
                                       arrival_time: '08:55',
                                   },
                                   {
                                       type:            :resource,
                                       resource_status: 'available'
                                   },
                                   {
                                       type:         :station,
                                       name:         'London St Pancras International',
                                       arrival_time: '10:04',
                                   }
                               ]
             }
  %>

  <%= render partial: 'pages/resource_item_with_route_slim',
             locals:  {
                 id:           id_4,
                 title:        'Phone Signal',
                 availability: 'Likely',
                 route_items:  [
                                     {
                                         type:            :station,
                                         name:            'Nottingham',
                                         arrival_time:    '08:09',
                                     },
                                     {
                                         type:            :resource,
                                         resource_status: 'available'
                                     },
                                     {
                                         type:            :station,
                                         name:            'Beeston',
                                         arrival_time:    '08:19',
                                     },
                                     {
                                         type:            :resource,
                                         resource_status: 'available'
                                     },
                                     {
                                         type:            :station,
                                         name:            'Long Eaton',
                                         arrival_time:    '08:23',
                                     },
                                     {
                                         type:            :resource,
                                         resource_status: 'available'
                                     },
                                     {
                                         type:            :station,
                                         name:            'East Midlands Parkway',
                                         arrival_time:    '08:29',
                                     },
                                     {
                                         type:            :resource,
                                         resource_status: 'available'
                                     },
                                     {
                                         type:            :station,
                                         name:            'Loughborough',
                                         arrival_time:    '08:42',
                                     },
                                     {
                                         type:            :resource,
                                         resource_status: 'available'
                                     },
                                     {
                                         type:            :station,
                                         name:            'Leicester',
                                         arrival_time:    '08:55',
                                     },
                                     {
                                         type:            :resource,
                                         resource_status: 'not-available'
                                     },
                                     {
                                         type:         :station,
                                         name:         'London St Pancras International',
                                         arrival_time: '10:04',
                                     }
                                 ]
             }
  %>

  <%= render partial: 'pages/resource_item_with_route_slim',
             locals:  {
                 id:           id_5,
                 title:        'Data Signal',
                 availability: 'Possible',
                 route_items:  [

                                     {
                                         type:         :station,
                                         name:         'Nottingham',
                                         arrival_time: '08:09',
                                     },
                                     {
                                         type:            :resource,
                                         resource_status: 'available'
                                     },
                                     {
                                         type:         :station,
                                         name:         'Beeston',
                                         arrival_time: '08:19',
                                     },
                                     {
                                         type:            :resource,
                                         resource_status: 'available'
                                     },
                                     {
                                         type:         :station,
                                         name:         'Long Eaton',
                                         arrival_time: '08:23',
                                     },
                                     {
                                         type:            :resource,
                                         resource_status: 'not-available'
                                     },
                                     {
                                         type:         :station,
                                         name:         'East Midlands Parkway',
                                         arrival_time: '08:29',
                                     },
                                     {
                                         type:            :resource,
                                         resource_status: 'not-available'
                                     },
                                     {
                                         type:         :station,
                                         name:         'Loughborough',
                                         arrival_time: '08:42',
                                     },
                                     {
                                         type:            :resource,
                                         resource_status: 'not-available'
                                     },
                                     {
                                         type:         :station,
                                         name:         'Leicester',
                                         arrival_time: '08:55',
                                     },
                                     {
                                         type:            :resource,
                                         resource_status: 'not-available'
                                     },
                                     {
                                         type:         :station,
                                         name:         'London St Pancras International',
                                         arrival_time: '10:04',
                                     }
                                 ]
             }
  %>

  <%= render partial: 'pages/resource_item_with_route_slim',
             locals:  {
                 id:           id_6,
                 title:        'Wi-Fi',
                 availability: 'Very Likely',
                 route_items:  [

                                     {
                                         type:            :station,
                                         name:            'Nottingham',
                                         arrival_time:    '08:09',
                                     },
                                     {
                                         type:            :resource,
                                         resource_status: 'available'
                                     },
                                     {
                                         type:            :station,
                                         name:            'Beeston',
                                         arrival_time:    '08:19',
                                     },
                                     {
                                         type:            :resource,
                                         resource_status: 'available'
                                     },
                                     {
                                         type:            :station,
                                         name:            'Long Eaton',
                                         arrival_time:    '08:23',
                                     },
                                     {
                                         type:            :resource,
                                         resource_status: 'available'
                                     },
                                     {
                                         type:            :station,
                                         name:            'East Midlands Parkway',
                                         arrival_time:    '08:29',
                                     },
                                     {
                                         type:            :resource,
                                         resource_status: 'available'
                                     },
                                     {
                                         type:            :station,
                                         name:            'Loughborough',
                                         arrival_time:    '08:42',
                                     },
                                     {
                                         type:            :resource,
                                         resource_status: 'available'
                                     },
                                     {
                                         type:            :station,
                                         name:            'Leicester',
                                         arrival_time:    '08:55',
                                     },
                                     {
                                         type:            :resource,
                                         resource_status: 'available'
                                     },
                                     {
                                         type:            :station,
                                         name:            'London St Pancras International',
                                         arrival_time:    '10:04',
                                     }
                                 ]
             }
  %>

  <%= render partial: 'pages/resource_item_with_route_slim',
             locals:  {
                 id:           id_7,
                 title:        'Trolley Service',
                 availability: 'Very likely',
                 route_items:  [

                                     {
                                         type:            :station,
                                         name:            'Nottingham',
                                         arrival_time:    '08:09',
                                     },
                                     {
                                         type:            :resource,
                                         resource_status: 'available'
                                     },
                                     {
                                         type:            :station,
                                         name:            'Beeston',
                                         arrival_time:    '08:19',
                                     },
                                     {
                                         type:            :resource,
                                         resource_status: 'available'
                                     },
                                     {
                                         type:            :station,
                                         name:            'Long Eaton',
                                         arrival_time:    '08:23',
                                     },
                                     {
                                         type:            :resource,
                                         resource_status: 'available'
                                     },
                                     {
                                         type:            :station,
                                         name:            'East Midlands Parkway',
                                         arrival_time:    '08:29',
                                     },
                                     {
                                         type:            :resource,
                                         resource_status: 'available'
                                     },
                                     {
                                         type:            :station,
                                         name:            'Loughborough',
                                         arrival_time:    '08:42',
                                     },
                                     {
                                         type:            :resource,
                                         resource_status: 'available'
                                     },
                                     {
                                         type:            :station,
                                         name:            'Leicester',
                                         arrival_time:    '08:55',
                                     },
                                     {
                                         type:            :resource,
                                         resource_status: 'available'
                                     },
                                     {
                                         type:            :station,
                                         name:            'London St Pancras International',
                                         arrival_time:    '10:04',
                                     }
                                 ]
             }
  %>

</div>

<!--  end route_activities 1 -->
