
  <!--                          start route_activities 2.1 -->

  <%= render partial: 'activity_item',
             locals: {
                 id:     id_1,
                 title:  'Make phone calls or send messages',
                 symbol: :check,
             }
  %>

  <div class="row ml-3 resources-overview collapse" id="<%= id_1 %>">

    <%= render partial: 'pages/resource_item_only',
               locals:  {
                   title:        'Power',
                   availability: 'Very likely'
               }
    %>
    <%= render partial: 'pages/resource_item_only',
               locals:  {
                   title:        'Seat',
                   availability: 'Likely'
               }
    %>
    <%= render partial: 'pages/resource_item_only',
               locals:  {
                   title:        'Phone Signal',
                   availability: 'Likely'
               }
    %>
    <%= render partial: 'pages/resource_item_only',
               locals:  {
                   title:        'Data Signal',
                   availability: 'Likely'
               }
    %>
    <%= render partial: 'pages/resource_item_only',
               locals:  {
                   title:        'Wi-Fi',
                   availability: 'Likely'
               }
    %>
  </div>


  <!--                         end route_activities 2.1 -->
  <br>

  <!--                          start route_activities 2.2 -->

  <%= render partial: 'activity_item',
             locals: {
                 id:     id_2,
                 title:  'Write or edit documents',
                 symbol: :cross,
             }
  %>

  <div class="row ml-3 resources-overview collapse" id="<%= id_2 %>">


    <%= render partial: 'pages/resource_item_only',
               locals:    {
                   title: 'Power',
                   availability: 'Very likely'
               }
    %>
    <%= render partial: 'pages/resource_item_only',
               locals:    {
                   title: 'Seat',
                   availability: 'Likely'
               }
    %>
    <%= render partial: 'pages/resource_item_only',
               locals:    {
                   title: 'Table',
                   availability: 'Not very likely'
               }
    %>

  </div>

  <!-- end route_activities 2.2 -->

  <br>

  <!-- start route_activities 2.3 -->

  <%= render partial: 'activity_item',
             locals: {
                 id:     id_3,
                 title:  'Browse the Internet (including social media, travel info etc.)',
                 symbol: :check,
             }
  %>


  <div class="row ml-3 resources-overview collapse" id="<%= id_3 %>">

    <%= render partial: 'pages/resource_item_only',
               locals:  {
                   title:        'Power',
                   availability: 'Very likely'
               }
    %>

    <%= render partial: 'pages/resource_item_only',
               locals:  {
                   title:        'Seat',
                   availability: 'Likely'
               }
    %>

    <%= render partial: 'pages/resource_item_only',
               locals:  {
                   title:        'Phone Signal',
                   availability: 'Likely'
               }
    %>

    <%= render partial: 'pages/resource_item_only',
               locals:  {
                   title:        'Wi-Fi',
                   availability: 'Likely'
               }
    %>

  </div>

  <!-- end route_activities 2.3 -->

  <br>

  <!-- start route_activities 2.4 -->

  <%= render partial: 'activity_item',
             locals: {
                 id:     id_4,
                 title:  'Take a nap',
                 symbol: :check,
             }
  %>

  <div class="row ml-3 resources-overview collapse" id="<%= id_4 %>">
    <%= render partial: 'pages/resource_item_only',
               locals:    {
                   title: 'Seat',
                   availability: 'Likely'
               }
    %>
  </div>

  <!--  end route_activities 2.4 -->
  <br>

  <!-- start route_activities 2.4 -->

  <%= render partial: 'activity_item',
             locals: {
                 id:     id_5,
                 title:  'Eat or drink',
                 symbol: :question,
             }
  %>


  <div class="row ml-3 resources-overview collapse" id="<%= id_5 %>">
    <%= render partial: 'pages/resource_item_only',
               locals:    {
                   title: 'Seat',
                   availability: 'Likely'
               }
    %>
    <%= render partial: 'pages/resource_item_only',
               locals:  {
                   title:        'Table',
                   availability: 'Not very likely'
               }
    %>
    <%= render partial: 'pages/resource_item_only',
               locals:    {
                   title: 'Trolley Service',
                   availability: 'Possible'
               }
    %>

  </div>

  <!--  end route_activities 2.4 -->


