<br>

<div class="row">

  <% if back_url %>
  <div class="col">
    <a href="<%= back_url %>" class="col-12 btn btn-primary btn-md text-white <%= @theme %>-bg">
      <i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Back
    </a>
  </div>
  <% end %>

  <% if forward_url %>
  <div class="col">
    <a href="<%= forward_url %>" class="col-12 btn btn-primary btn-md text-white <%= @theme %>-bg">
      Next &nbsp;<i class="fas fa-chevron-right"></i>
    </a>
  </div>
  <% end %>

</div>
