<% av_class = availability.split(' ').join('-').downcase %>

<div class="col-lg-3 col-md-3 col-sm">
  <div class="p-4 resource-item <%= av_class %>">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-10 px-0">
            <div class="resource-title">
              <%= title %>
            </div>
            <div class="resource-description"><%= availability %></div>
          </div>
          <div class="col-2 px-0 text-center">
            <%= image_tag "#{av_class}.png", class: 'emoticon' %>


            <a data-toggle="collapse" href="#<%= id %>" role="button"
               aria-expanded="false"
               aria-controls="<%= id %>"
               class="accordion-item mb-0 <%= @theme %>">
              <i class="fas fa-chevron-circle-down"></i>
            </a>


          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="collapse" id="<%= id %>">
    <%= render partial: 'pages/route_resources',
               locals:  {
                   route_stations: route_stations
               }
    %>
  </div>

</div>


