<% av_class = availability.split(' ').join('-').downcase %>

<div class="col-12 col-lg-4 col-md-4 mb-1 mr-2 ">
  <div class="row">

    <div class="col-2 pr-0">
      <div class="row">

        <div class="col-6">
          <a data-toggle="collapse" href="#<%= id %>" role="button"
             data-tooltip="hello"
             aria-expanded="false"
             aria-controls="<%= id %>"
             class="accordion-item mb-0 <%= @theme %>">
            <i class="fas fa-plus"></i>
          </a>
        </div>
        <div class="col-6">
          <a data-toggle="collapse" href="#<%= id %>" role="button"
             aria-expanded="false"
             aria-controls="<%= id %>"
             class="accordion-item mb-0 <%= @theme %>">
            <!--        <i class="fas fa-chevron-circle-down"></i>-->
            <%= image_tag "#{av_class}.png", class: 'emoticon' %>
          </a>
        </div>

      </div>
    </div>

    <div class="col-9">
      <span class="resource-title pl-4"><%= title %></span>
      <span class="resource-description"><%= availability %></span>
    </div>

<!--    <div class="col-2">-->
<!--      <a data-toggle="collapse" href="#<%#= id %>" role="button"-->
<!--         data-tooltip="hello"-->
<!--         aria-expanded="false"-->
<!--         aria-controls="<%#= id %>"-->
<!--         class="accordion-item mb-0 <%#= @theme %>">-->
        <%#= image_tag "#{av_class}.png", class: 'emoticon' %>
<!--      </a>-->
<!--    </div>-->

  </div>


  <div class="row">
    <div class="collapse" id="<%= id %>">
      <%= render partial: 'pages/route_resources',
                 locals:  {
                     route_items: route_items
                 }
      %>
    </div>
  </div>

</div>



<!--id, title, availability, route_stations-->
