<% av_class = availability.split(' ').join('-').downcase %>

<div class="col-lg-12 col-md-12 col-sm-12">
  <div class="p-4 resource-item <%= av_class %>">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-10 px-0">
            <div class="resource-title">
              <%= title %>
            </div>
            <div class="resource-description"><%= availability %></div>
            resource_item_for_activity
          </div>
          <div class="col-2 px-0 text-center">
            <%= image_tag "#{av_class}.png", class: 'emoticon' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
