<% av_class = availability.split(' ').join('-').downcase %>


<div class="col-12 col-lg-4 col-md-4 mb-1 item-start pr-0">
  <div class="row">
    <div class="offset-lg-2 offset-md-2 col-8 pl-0">
      <span class="resource-title"><%= title %></span>
      <span class="resource-description"><%= availability %></span>
    </div>
    <div class="col-2">
      <%= image_tag "#{av_class}.png", class: 'emoticon' %>
    </div>
    <div class="col-2">
    </div>
  </div>
</div>

<div class="col-lg-8 col-md-8"></div>

