
      <div id="tracking" class="tracking-short">
<!--        <div class="tracking-list">-->

        <% route_items.each do |item| %>
          <% if item[:type] == :station %>
            <div class="tracking-item tracking-item-short">
            <div class="tracking-icon route-station">
              <i class="fas fa-circle grey %>"></i>
            </div>
            <div class="tracking-date"><%= item[:name] %><span><%= item[:arrival_time] %></span></div>
          </div>
            <% end %>


          <% if item[:type] == :resource %>
            <div class="tracking-item tracking-item-short">
            <div class="tracking-icon route-resource">
              <i class="fas fa-circle <%= item[:resource_status] %>"></i>
            </div>
          </div>
          <% end %>

        <% end %>


        <% if false %>
          <div class="tracking-item">
            <div class="tracking-icon status-intransit">
              <i class="fas fa-circle green"></i>
            </div>
            <div class="tracking-date">Nottingham<span>08:09</span></div>
          </div>

          <div class="tracking-item">
            <div class="tracking-icon status-intransit">
              <i class="fas fa-circle"></i>
            </div>
            <div class="tracking-date">Beeston<span>08:19</span></div>
          </div>

          <div class="tracking-item">
            <div class="tracking-icon status-intransit">
              <i class="fas fa-circle"></i>
            </div>
            <div class="tracking-date">Long Eaton<span>08:23</span></div>
          </div>

          <div class="tracking-item">
            <div class="tracking-icon status-intransit">
              <i class="fas fa-circle"></i>
            </div>
            <div class="tracking-date">East Midlands Parkway<span>08:29</span>
            </div>
          </div>

          <div class="tracking-item">
            <div class="tracking-icon status-intransit">
              <i class="fas fa-circle"></i>
            </div>
            <div class="tracking-date">Loughborough<span>08:42</span></div>
          </div>

          <div class="tracking-item">
            <div class="tracking-icon status-intransit">
              <i class="fas fa-circle"></i>
            </div>
            <div class="tracking-date">Leicester<span>08:55</span></div>
          </div>

          <div class="tracking-item">
            <div class="tracking-icon status-intransit">
              <i class="fas fa-circle"></i>
            </div>
            <div class="tracking-date">London St Pancras
              International<span>10:44</span></div>
          </div>
        <% end %>
<!--        </div>-->
      </div>
      <br>
