<div class="row mb-3">

  <div class="col-md-6 col-lg-10 mb-4 mb-lg-4 mx-auto">

        <h3 class="h5 text-black mb-3">Enter details of your trip</h3>

    <div class="row">
      <div class="col">


        <form action="#" method="post">
          <div class="form-group d-flex">
            <input type="text" class="form-control" placeholder="From..." value="Nottingham">
          </div>

          <div class="form-group">
            <input type="text" class="form-control" placeholder="To..." value="London">
          </div>

          <div class="form-group row">
            <div class="col-4">
              <input type="text" class="form-control datepicker" placeholder="Departure" value="15/01/2020"/>
            </div>

            <div class="col-4 px-0">
              <select id="" class="form-control" name="">
                <option value="1">Leaving at</option>
                <option value="1">Arriving by</option>
              </select>
            </div>

            <div class="col-4">
              <input type="text" class="form-control" placeholder="HH:MM" value="08:00">
<!--              <select class="form-control" name="hours">-->
<!--                <option value="1">00</option>-->
<!--                <option value="1">01</option>-->
<!--                <option value="1">02</option>-->
<!--                <option value="1">03</option>-->
<!--                <option value="1">04</option>-->
<!--                <option value="1">05</option>-->
<!--                <option value="1">06</option>-->
<!--                <option value="1">07</option>-->
<!--                <option value="1" selected="selected">08</option>-->
<!--                <option value="1">09</option>-->
<!--                <option value="1">10</option>-->
<!--                <option value="1">11</option>-->
<!--                <option value="1">12</option>-->
<!--                <option value="1">13</option>-->
<!--                <option value="1">14</option>-->
<!--                <option value="1">15</option>-->
<!--                <option value="1">16</option>-->
<!--                <option value="1">17</option>-->
<!--                <option value="1">18</option>-->
<!--                <option value="1">19</option>-->
<!--                <option value="1">20</option>-->
<!--                <option value="1">21</option>-->
<!--                <option value="1">22</option>-->
<!--                <option value="1">23</option>-->
<!--              </select>-->
            </div>

          </div>

          <div class="form-group cntr">
            <label for="opt1" class="radio">
              <input type="radio" name="rdo" id="opt1" class="hidden" checked/>
              <span class="label <%= @theme %>-label"></span>One way
            </label>

            <label for="opt2" class="radio">
              <input type="radio" name="rdo" id="opt2" class="hidden <%= @theme %>"/>
              <span class="label <%= @theme %>-label"></span>Return
            </label>
          </div>

          <%= render partial: 'navigation_buttons',
                     locals:  {
                         forward_url: flow_url,
                         back_url:    false,
                     }
          %>

        </form>

  </div>
</div>

  </div>
</div>
