
    <div class="row mb-3">

      <div class="col-md-10 col-lg-10 mb-4 mb-lg-4 mx-auto">

          <div class="h-entry">
            <h3 class="h5 text-black mb-3">Select your journey</h3>
          </div>


        <div class="row">
          <div class="col-12">
            <div class="row mx-2">
              <div class="col-12 mx-auto text-center mb-2 pb-2 journey-title">
                OUT: Saturday Feb 1 2020
              </div>

              <form action="#" method="post" class="row">
                <div class="col-12 text-center my-3 pager">
                  <i class="fas fa-angle-up"></i>&nbsp;&nbsp;Earlier trains
                </div>

                <!-- form-row 1 -->
                <div class="col-12 border p-3 rounded mb-2 <%= @theme %>-journey-item">

                  <div class="row">
                    <div class="col-2">
                      <label for="opt1" class="radio">
                        <input type="radio" name="rdo" id="opt1" class="hidden"/>
                        <span class="label <%= @theme %>-label"></span>
                      </label>
                    </div>
                    <div class="col-3">
                      <div class="time">08:05</div>
                      <div class="station">Nottingham</div>
                    </div>
                    <div class="col-2 text-center">
                      <i class="fas fa-long-arrow-alt-right dark-grey"></i>
                    </div>
                    <div class="col-5">
                      <div class="time">09:55</div>
                      <div class="station">London St Pancras International</div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="text-center mt-3">
                        <a data-toggle="collapse"
                           href="#collapse-1"
                           role="button"
                           aria-expanded="false"
                           aria-controls="collapse-1"
                           class="accordion-item mb-0 <%= @theme %> more-link">
                          Travel Activities
                          &nbsp;
                          <i class="fas fa-chevron-circle-down"></i>
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                       <div class="collapse" id="collapse-1">
                        <div class="pt-2 ml-4">

                          <%= render partial: 'pages/journey_item_activities',
                                     locals: {
                                         id_1: 'activity-1',
                                         id_2: 'activity-2',
                                         id_3: 'activity-3',
                                         id_4: 'activity-4',
                                         id_5: 'activity-5',
                                     }
                          %>

                        </div>
                      </div>
                    </div>
                  </div>

                </div>


                <!-- form-row 2-->


                <div class="col-12 border p-3 rounded mb-2 <%= @theme %>-journey-item">

                  <div class="row">
                    <div class="col-2">
                      <label for="opt2" class="radio">
                        <input type="radio" name="rdo" id="opt2" class="hidden" checked/>
                        <span class="label <%= @theme %>-label"></span>
                      </label>
                    </div>
                    <div class="col-3">
                      <div class="time">08:09</div>
                      <div class="station">Nottingham</div>
                    </div>
                    <div class="col-2 text-center">
                      <i class="fas fa-long-arrow-alt-right dark-grey"></i>
                    </div>
                    <div class="col-5">
                      <div class="time">10:04</div>
                      <div class="station">London St Pancras International</div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="text-center mt-3">
                        <a data-toggle="collapse" href="#collapse-2"
                           role="button"
                           aria-expanded="false"
                           aria-controls="collapse-2"
                           class="accordion-item mb-0 <%= @theme %> more-link">
                          Travel Activities
                          &nbsp;
                          <i class="fas fa-chevron-circle-down"></i>
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="collapse" id="collapse-2">
                        <div class="pt-2 ml-4">

                          <%= render partial: 'pages/journey_item_activities',
                                     locals: {
                                         id_1: 'activity-6',
                                         id_2: 'activity-7',
                                         id_3: 'activity-8',
                                         id_4: 'activity-9',
                                         id_5: 'activity-10',
                                     }
                          %>



                        </div>
                      </div>
                    </div>
                  </div>


                  <!--                  </a>-->

                </div>


                <!-- form-row 3-->


                <div class="col-12 border p-3 rounded mb-2 <%= @theme %>-journey-item">


                  <div class="row">
                    <div class="col-2">
                      <label for="opt3" class="radio">
                        <input type="radio" name="rdo" id="opt3" class="hidden"/>
                        <span class="label <%= @theme %>-label"></span>
                      </label>
                    </div>
                    <div class="col-3">
                      <div class="time">08:34</div>
                      <div class="station">Nottingham</div>
                    </div>
                    <div class="col-2 text-center">
                      <i class="fas fa-long-arrow-alt-right dark-grey"></i>
                    </div>
                    <div class="col-5">
                      <div class="time">10:15</div>
                      <div class="station">London St Pancras International</div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="text-center mt-3">
                        <a data-toggle="collapse"
                           href="#collapse-3"
                           role="button"
                           aria-expanded="false"
                           aria-controls="collapse-3"
                           class="accordion-item mb-0 <%= @theme %> more-link">
                            Travel Activities
                          &nbsp;
                          <i class="fas fa-chevron-circle-down"></i>
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="collapse" id="collapse-3">
                          <div class="pt-2 ml-4">

                            <%= render partial: 'pages/journey_item_activities',
                                       locals: {
                                           id_1: 'activity-11',
                                           id_2: 'activity-12',
                                           id_3: 'activity-13',
                                           id_4: 'activity-14',
                                           id_5: 'activity-15',
                                       }
                            %>



                        </div>
                      </div>
                    </div>
                  </div>


                </div>


                <!-- form-row 4-->
                <div class="col-12 border p-3 rounded mb-2 <%= @theme %>-journey-item">
                  <div class="row">
                    <div class="col-2">
                      <label for="opt4" class="radio">
                        <input type="radio" name="rdo" id="opt4" class="hidden"/>
                        <span class="label <%= @theme %>-label"></span>
                      </label>
                    </div>
                    <div class="col-3">
                      <div class="time">09:05</div>
                      <div class="station">Nottingham</div>
                    </div>
                    <div class="col-2 text-center">
                      <i class="fas fa-long-arrow-alt-right dark-grey"></i>
                    </div>
                    <div class="col-5">
                      <div class="time">10:52</div>
                      <div class="station">London St Pancras International</div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="text-center mt-3">
                        <a data-toggle="collapse"
                           href="#collapse-4"
                           role="button"
                           aria-expanded="false"
                           aria-controls="collapse-4"
                           class="accordion-item mb-0 <%= @theme %> more-link">
                          Travel Activities
                          &nbsp;
                          <i class="fas fa-chevron-circle-down"></i>
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="collapse" id="collapse-4">
                        <div class="pt-2 ml-4">

                          <%= render partial: 'pages/journey_item_activities',
                                     locals: {
                                         id_1: 'activity-16',
                                         id_2: 'activity-17',
                                         id_3: 'activity-18',
                                         id_4: 'activity-19',
                                         id_5: 'activity-20',
                                     }
                          %>


                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="col-12 text-center my-3 pager">
                  <i class="fas fa-angle-down"></i>&nbsp;&nbsp;Later trains
                </div>

                <div class="col-12">
                  <%= render partial: 'navigation_buttons',
                             locals:  {
                                 forward_url: routes_activities_url,
                                 back_url:    activities_activities_url,
                             }
                  %>
                </div>
              </form>

            </div>
          </div>


          <% if false %>
            <div class="col-6">
              <div class="row mx-2">
                <div class="col-12 mx-auto text-center mb-2 pb-2">
                </div>
              </div>
            </div>
          <% end %>


        </div>

      </div>

    </div>
