<div class="row mb-3">
<!--    <div class="col-md-10 col-lg-10 mb-4 mb-lg-4 mx-auto">-->

      <div class="col-md-10 col-lg-10 mb-4 mb-lg-4 mx-auto">

      <div id="tracking">
        <div class="text-center tracking-status-intransit <%= @theme %>-bg">
          <p class="tracking-status text-tight">Route Profile</p>
        </div>

      <div class="tracking-list pt-4">

          <div class="tracking-item">
            <div class="tracking-icon status-intransit">
              <i class="fas fa-circle"></i>
            </div>
            <div class="tracking-date">Nottingham<span>08:09</span></div>

            <div class="tracking-content">

<!--              <a data-toggle="collapse" href="#nottingham" role="button" aria-expanded="false" aria-controls="collapse-1"-->
<!--                 class="accordion-item mb-0">-->
<!--                <i class="fas fa-caret-down dark-grey"></i>-->
<!--              </a>-->

              <div class="row resources-overview mt-lg-5 mt-md-5 mt-sm-0" id="nottingham">

<!--                <div class="col-md-12 col-lg-12 col-sm-12 pr-sm-2">-->
                <div class="col">

                  <div class="row">


                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Power',
                               availability: 'Very likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Seat',
                               availability: 'Very likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Table',
                               availability: 'Very likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Phone Signal',
                               availability: 'Very likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Data Signal',
                               availability: 'Very likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Wi-Fi',
                               availability: 'Very likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title: 'Trolley Service',
                               availability: 'Very likely'
                           }
                %>
                  </div>
                </div>

              </div>
            </div>

          </div>

          <div class="tracking-item">
            <div class="tracking-icon status-intransit">
              <i class="fas fa-circle"></i>
            </div>
            <div class="tracking-date">Beeston<span>08:19</span></div>

            <div class="tracking-content">
<!--              <a data-toggle="collapse" href="#beeston" role="button" aria-expanded="false" aria-controls="collapse-1"-->
<!--                 class="accordion-item mb-0">-->
<!--                <i class="fas fa-caret-down dark-grey"></i>-->
<!--              </a>-->

              <div class="row resources-overview mt-lg-5 mt-md-5 mt-sm-0" id="beeston">
                  <div class="col">
                  <div class="row">

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Power',
                               availability: 'Very likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Seat',
                               availability: 'Very Likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Table',
                               availability: 'Very likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Phone Signal',
                               availability: 'Very likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Data Signal',
                               availability: 'Very likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Wi-Fi',
                               availability: 'Very likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title: 'Trolley Service',
                               availability: 'Very likely'
                           }
                %>

                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="tracking-item">
            <div class="tracking-icon status-intransit">
              <i class="fas fa-circle"></i>
            </div>
            <div class="tracking-date">Long Eaton<span>08:23</span></div>
            <div class="tracking-content">
<!--              <a data-toggle="collapse" href="#long-eaton" role="button" aria-expanded="false" aria-controls="collapse-1"-->
<!--                 class="accordion-item mb-0">-->
<!--                <i class="fas fa-caret-down dark-grey"></i>-->
<!--              </a>-->

              <div class="row resources-overview mt-lg-5 mt-md-5 mt-sm-0" id="long-eaton">
                  <div class="col">
                  <div class="row">

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Power',
                               availability: 'Likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Seat',
                               availability: 'Likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Table',
                               availability: 'Possible'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Phone Signal',
                               availability: 'Likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Data Signal',
                               availability: 'Not likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Wi-Fi',
                               availability: 'Very likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title: 'Trolley Service',
                               availability: 'Very likely'
                           }
                %>
                  </div>
                </div>

              </div>
            </div>

          </div>

          <div class="tracking-item">
            <div class="tracking-icon status-intransit">
              <i class="fas fa-circle"></i>
            </div>
            <div class="tracking-date">East Midlands Parkway<span>08:29</span>
            </div>
            <div class="tracking-content">
<!--              <a data-toggle="collapse" href="#east-mid" role="button" aria-expanded="false" aria-controls="collapse-1"-->
<!--                 class="accordion-item mb-0">-->
<!--                <i class="fas fa-caret-down dark-grey"></i>-->
<!--              </a>-->

              <div class="row resources-overview mt-lg-5 mt-md-5 mt-sm-0" id="east-mid">
                  <div class="col">
                  <div class="row">
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Power',
                               availability: 'Likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Seat',
                               availability: 'Likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Table',
                               availability: 'Possible'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Phone Signal',
                               availability: 'Likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Data Signal',
                               availability: 'Not likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Wi-Fi',
                               availability: 'Likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title: 'Trolley Service',
                               availability: 'Very likely'
                           }
                %>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="tracking-item">
            <div class="tracking-icon status-intransit">
              <i class="fas fa-circle"></i>
            </div>
            <div class="tracking-date">Loughborough<span>08:42</span></div>
            <div class="tracking-content">
<!--              <a data-toggle="collapse" href="#lboro" role="button" aria-expanded="false" aria-controls="collapse-1"-->
<!--                 class="accordion-item mb-0">-->
<!--                <i class="fas fa-caret-down dark-grey"></i>-->
<!--              </a>-->

              <div class="row resources-overview mt-lg-5 mt-md-5 mt-sm-0" id="lboro">
                  <div class="col">
                  <div class="row">
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Power',
                               availability: 'Likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Seat',
                               availability: 'Likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Table',
                               availability: 'Not very likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Phone Signal',
                               availability: 'Likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Data Signal',
                               availability: 'Possible'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Wi-Fi',
                               availability: 'Likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title: 'Trolley Service',
                               availability: 'Very likely'
                           }
                %>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tracking-item">
            <div class="tracking-icon status-intransit">
              <i class="fas fa-circle"></i>
            </div>
            <div class="tracking-date">Leicester<span>08:55</span></div>
            <div class="tracking-content">
<!--              <a data-toggle="collapse" href="#leics" role="button" aria-expanded="false" aria-controls="collapse-1"-->
<!--                 class="accordion-item mb-0">-->
<!--                <i class="fas fa-caret-down dark-grey"></i>-->
<!--              </a>-->
              <div class="row resources-overview mt-lg-5 mt-md-5 mt-sm-0" id="leics">
                <div class="col">
                  <div class="row">

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Power',
                               availability: 'Not likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Seat',
                               availability: 'Not very likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Table',
                               availability: 'Not very likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Phone Signal',
                               availability: 'Likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Data Signal',
                               availability: 'Likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Wi-Fi',
                               availability: 'Likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title: 'Trolley Service',
                               availability: 'Very likely'
                           }
                %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tracking-item">
            <div class="tracking-icon status-intransit">
              <i class="fas fa-circle"></i>
            </div>
            <div class="tracking-date">London St Pancras
              International<span>10:04</span>
            </div>
          </div>

      </div><!-- tracking-list-->

        <br>
        <br>

        <%= render partial: 'navigation_buttons',
                   locals:  {
                       forward_url: false,
                       back_url:    journeys_resources_url,
                   }
        %>

      </div><!-- tracking-->


      </div><!--  col-->
</div> <!--row-->
