  <div class="row">

<!--        <div class="col-md-12 col-lg-12 col-sm-12">-->


    <div class="col-md-10 col-lg-10 mb-4 mb-lg-4 mx-auto">

      <div id="tracking-pre"></div>

      <div id="tracking">
        <div class="text-center tracking-status-intransit <%= @theme %>-bg">
          <p class="tracking-status text-tight">Route Profile</p>
        </div>

        <div class="tracking-list pt-4">

          <div class="tracking-item">
            <div class="tracking-icon status-intransit">
              <i class="fas fa-circle"></i>
            </div>
            <div class="tracking-date">Nottingham<span>08:09</span></div>

            <div class="tracking-content mt-lg-5">

              <%= render partial: 'pages/activity_item',
                         locals:  {
                             id:     'activity-1',
                             title:  'Make phone calls or send messages',
                             symbol: :check
                         }
              %>

              <div class="row ml-3 resources-overview collapse" id="activity-1">

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Power sockets',
                               availability: 'Very likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Seat',
                               availability: 'Very likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Phone Signal',
                               availability: 'Very likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Data Signal',
                               availability: 'Very likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Wi-Fi',
                               availability: 'Very Likely'
                           }
                %>

              </div>



              <%= render partial: 'pages/activity_item',
                         locals:  {
                             id:     'activity-2',
                             title:  'Write or edit documents',
                             symbol: :check
                         }
              %>
              <div class="row ml-3 resources-overview collapse" id="activity-2">


                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Power sockets',
                               availability: 'Very likely'
                           }
                %>
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Seat',
                               availability: 'Very likely'
                           }
                %>
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Table',
                               availability: 'Very likely'
                           }
                %>

              </div>



              <%= render partial: 'pages/activity_item',
                         locals:  {
                             id:     'activity-3',
                             title:  'Browse the Internet (including social media, travel info, etc.)',
                             symbol: :check
                         }
              %>

              <div class="row ml-3 resources-overview collapse" id="activity-3">

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Power sockets',
                               availability: 'Very likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Data Signal',
                               availability: 'Likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Wi-Fi',
                               availability: 'Likely'
                           }
                %>
                </div>



              <%= render partial: 'pages/activity_item',
                         locals:  {
                             id:     'activity-4',
                             title:  'Take a nap',
                             symbol: :check
                         }
              %>

              <div class="row ml-3 resources-overview collapse" id="activity-4">
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Seat',
                               availability: 'Very likely'
                           }
                %>

              </div>


              <%= render partial: 'pages/activity_item',
                         locals:  {
                             id:     'activity-5',
                             title:  'Eat or drink',
                             symbol: :check
                         }
              %>

              <div class="row ml-3 resources-overview collapse" id="activity-5">
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Seat',
                               availability: 'Very likely'
                           }
                %>
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Table',
                               availability: 'Very likely'
                           }
                %>
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Trolley Service',
                               availability: 'Likely'
                           }
                %>
              </div>


            </div>
          </div>

          <div class="tracking-item">
            <div class="tracking-icon status-intransit">
              <i class="fas fa-circle"></i>
            </div>
            <div class="tracking-date">Beeston<span>08:19</span></div>

            <div class="tracking-content mt-lg-5">

              <%= render partial: 'pages/activity_item',
                         locals:  {
                             id:     'activity-5-1',
                             title:  'Make phone calls or send messages',
                             symbol: :check
                         }
              %>

              <div class="row ml-3 resources-overview collapse" id="activity-5-1">

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Power sockets',
                               availability: 'Very likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Seat',
                               availability: 'Very Likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Phone Signal',
                               availability: 'Likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Data Signal',
                               availability: 'Likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Wi-Fi',
                               availability: 'Likely'
                           }
                %>
              </div>


              <%= render partial: 'pages/activity_item',
                         locals:  {
                             id:     'activity-6',
                             title:  'Write or edit documents',
                             symbol: :check
                         }
              %>

              <div class="row ml-3 resources-overview collapse" id="activity-6">


                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Power sockets',
                               availability: 'Very likely'
                           }
                %>
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Seat',
                               availability: 'Very likely'
                           }
                %>
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Table',
                               availability: 'Likely'
                           }
                %>

              </div>

              <%= render partial: 'pages/activity_item',
                         locals:  {
                             id:    'activity-7',
                             title:  'Browse the Internet (including social media, travel info, etc.)',
                             symbol: :check
                         }
              %>

              <div class="row ml-3 resources-overview collapse" id="activity-7">

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Power sockets',
                               availability: 'Very likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Data Signal',
                               availability: 'Likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Wi-Fi',
                               availability: 'Likely'
                           }
                %>

              </div>


              <%= render partial: 'pages/activity_item',
                         locals:  {
                             id:     'activity-8',
                             title:  'Take a nap',
                             symbol: :check
                         }
              %>

              <div class="row ml-3 resources-overview collapse" id="activity-8">
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Seat',
                               availability: 'Very likely'
                           }
                %>

              </div>

              <%= render partial: 'pages/activity_item',
                         locals:  {
                             id:     'activity-9',
                             title:  'Eat or drink',
                             symbol: :check
                         }
              %>

              <div class="row ml-3 resources-overview collapse" id="activity-9">
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Seat',
                               availability: 'Likely'
                           }
                %>
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Table',
                               availability: 'Likely'
                           }
                %>
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Trolley Service',
                               availability: 'Very likely'
                           }
                %>

              </div>
            </div>
          </div>

          <div class="tracking-item">
            <div class="tracking-icon status-intransit">
              <i class="fas fa-circle"></i></div>
            <div class="tracking-date">Long Eaton<span>08:23</span></div>
            <div class="tracking-content mt-lg-5">
              <%= render partial: 'pages/activity_item',
                         locals:  {
                             id:     'activity-10',
                             title:  'Make phone calls or send messages',
                             symbol: :check
                         }
              %>

              <div class="row ml-3 resources-overview collapse" id="activity-10">

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Power sockets',
                               availability: 'Very likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Seat',
                               availability: 'Likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Phone Signal',
                               availability: 'Likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Data Signal',
                               availability: 'Likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Wi-Fi',
                               availability: 'Likely'
                           }
                %>

              </div>

              <%= render partial: 'pages/activity_item',
                         locals:  {
                             id:     'activity-11',
                             title:  'Write or edit documents',
                             symbol: :check
                         }
              %>

              <div class="row ml-3 resources-overview collapse" id="activity-11">


                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Power sockets',
                               availability: 'Very likely'
                           }
                %>
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Seat',
                               availability: 'Likely'
                           }
                %>
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Table',
                               availability: 'Possible'
                           }
                %>

              </div>

              <%= render partial: 'pages/activity_item',
                         locals:  {
                             id:     'activity-12',
                             title:  'Browse the Internet (including social media, travel info, etc.)',
                             symbol: :check
                         }
              %>

              <div class="row ml-3 resources-overview collapse" id="activity-12">
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Power sockets',
                               availability: 'Very likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Data Signal',
                               availability: 'Likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Wi-Fi',
                               availability: 'Likely'
                           }
                %>

              </div>

              <%= render partial: 'pages/activity_item',
                         locals:  {
                             id:     'activity-13',
                             title:  'Take a nap',
                             symbol: :check
                         }
              %>

              <div class="row ml-3 resources-overview collapse" id="activity-13">
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Seat',
                               availability: 'Very likely'
                           }
                %>

              </div>



              <%= render partial: 'pages/activity_item',
                         locals:  {
                             id:     'activity-14',
                             title:  'Eat or drink',
                             symbol: :check
                         }
              %>

              <div class="row ml-3 resources-overview collapse" id="activity-14">
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Seat',
                               availability: 'Likely'
                           }
                %>
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Table',
                               availability: 'Possible'
                           }
                %>
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Trolley Service',
                               availability: 'Likely'
                           }
                %>

              </div>
            </div>
          </div>

          <div class="tracking-item">
            <div class="tracking-icon status-intransit">
              <i class="fas fa-circle"></i>
            </div>
            <div class="tracking-date">East Midlands Parkway<span>08:29</span>
            </div>
            <div class="tracking-content mt-lg-5">
              <%= render partial: 'pages/activity_item',
                         locals:  {
                             id:     'activity-15',
                             title:  'Make phone calls or send messages',
                             symbol: :question
                         }
              %>

              <div class="row ml-3 resources-overview collapse" id="activity-15">

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Power sockets',
                               availability: 'Very likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Seat',
                               availability: 'Likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Phone Signal',
                               availability: 'Possible'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Data Signal',
                               availability: 'Possible'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Wi-Fi',
                               availability: 'Likely'
                           }
                %>

              </div>

              <%= render partial: 'pages/activity_item',
                         locals:  {
                             id:     'activity-16',
                             title:  'Write or edit documents',
                             symbol: :question
                         }
              %>

              <div class="row ml-3 resources-overview collapse" id="activity-16">


                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Power sockets',
                               availability: 'Very likely'
                           }
                %>
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Seat',
                               availability: 'Likely'
                           }
                %>
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Table',
                               availability: 'Possible'
                           }
                %>

              </div>

              <%= render partial: 'pages/activity_item',
                         locals:  {
                             id:     'activity-17',
                             title:  'Browse the Internet (including social media, travel info, etc.)',
                             symbol: :check
                         }
              %>

              <div class="row ml-3 resources-overview collapse" id="activity-17">

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Power sockets',
                               availability: 'Very likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Data Signal',
                               availability: 'Possible'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Wi-Fi',
                               availability: 'Likely'
                           }
                %>

              </div>
              <%= render partial: 'pages/activity_item',
                         locals:  {
                             id:     'activity-18',
                             title:  'Take a nap',
                             symbol: :check
                         }
              %>

              <div class="row ml-3 resources-overview collapse" id="activity-18">
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Seat',
                               availability: 'Very likely'
                           }
                %>

              </div>
              <%= render partial: 'pages/activity_item',
                         locals:  {
                             id:     'activity-19',
                             title:  'Eat or drink',
                             symbol: :check
                         }
              %>

              <div class="row ml-3 resources-overview collapse" id="activity-19">
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Seat',
                               availability: 'Likely'
                           }
                %>
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Table',
                               availability: 'Possible'
                           }
                %>
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Trolley Service',
                               availability: 'Likely'
                           }
                %>

              </div>

              </div>
          </div>

          <div class="tracking-item">
            <div class="tracking-icon status-intransit">
              <i class="fas fa-circle"></i>
            </div>
            <div class="tracking-date">Loughborough<span>08:42</span></div>
            <div class="tracking-content mt-lg-5">

              <%= render partial: 'pages/activity_item',
                         locals:  {
                             id:     'activity-20',
                             title:  'Make phone calls or send messages',
                             symbol: :check
                         }
              %>

              <div class="row ml-3 resources-overview collapse" id="activity-20">

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Power sockets',
                               availability: 'Very likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Seat',
                               availability: 'Likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Phone Signal',
                               availability: 'Likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Data Signal',
                               availability: 'Possible'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Wi-Fi',
                               availability: 'Likely'
                           }
                %>

              </div>

              <%= render partial: 'pages/activity_item',
                         locals:  {
                             id:     'activity-21',
                             title:  'Write or edit documents',
                             symbol: :cross
                         }
              %>

              <div class="row ml-3 resources-overview collapse" id="activity-21">


                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Power sockets',
                               availability: 'Very likely'
                           }
                %>
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Seat',
                               availability: 'Likely'
                           }
                %>
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Table',
                               availability: 'Not very likely'
                           }
                %>

              </div>

              <%= render partial: 'pages/activity_item',
                         locals:  {
                             id:     'activity-22',
                             title:  'Browse the Internet (including social media, travel info, etc.)',
                             symbol: :check
                         }
              %>

              <div class="row ml-3 resources-overview collapse" id="activity-22">

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Power sockets',
                               availability: 'Very likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Data Signal',
                               availability: 'Possible'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Wi-Fi',
                               availability: 'Likely'
                           }
                %>

              </div>

              <%= render partial: 'pages/activity_item',
                         locals:  {
                             id:     'activity-23',
                             title:  'Take a nap',
                             symbol: :check
                         }
              %>

              <div class="row ml-3 resources-overview collapse" id="activity-23">
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Seat',
                               availability: 'Very likely'
                           }
                %>

              </div>

              <%= render partial: 'pages/activity_item',
                         locals:  {
                             id:     'activity-24',
                             title:  'Eat or drink',
                             symbol: :question
                         }
              %>

              <div class="row ml-3 resources-overview collapse" id="activity-24">
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Seat',
                               availability: 'Likely'
                           }
                %>
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Table',
                               availability: 'Not very likely'
                           }
                %>
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Trolley Service',
                               availability: 'Likely'
                           }
                %>

              </div>

              </div>
          </div>

          <div class="tracking-item">
            <div class="tracking-icon status-intransit">
              <i class="fas fa-circle"></i>
            </div>
            <div class="tracking-date">Leicester<span>08:55</span></div>
            <div class="tracking-content mt-lg-5">

              <%= render partial: 'pages/activity_item',
                         locals:  {
                             id:     'activity-25',
                             title:  'Make phone calls or send messages',
                             symbol: :check
                         }
              %>

              <div class="row ml-3 resources-overview collapse" id="activity-25">

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Power sockets',
                               availability: 'Very likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Seat',
                               availability: 'Likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Phone Signal',
                               availability: 'Likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Data Signal',
                               availability: 'Likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Wi-Fi',
                               availability: 'Likely'
                           }
                %>

              </div>

              <%= render partial: 'pages/activity_item',
                         locals:  {
                             id:     'activity-26',
                             title:  'Write or edit documents',
                             symbol: :cross
                         }
              %>

              <div class="row ml-3 resources-overview collapse" id="activity-26">


                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Power sockets',
                               availability: 'Very likely'
                           }
                %>
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Seat',
                               availability: 'Likely'
                           }
                %>
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Table',
                               availability: 'Not very likely'
                           }
                %>

              </div>

              <%= render partial: 'pages/activity_item',
                         locals:  {
                             id:     'activity-27',
                             title:  'Browse the Internet (including social media, travel info, etc.)',
                             symbol: :check
                         }
              %>

              <div class="row ml-3 resources-overview collapse" id="activity-27">

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Power sockets',
                               availability: 'Very likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Data Signal',
                               availability: 'Likely'
                           }
                %>

                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Wi-Fi',
                               availability: 'Likely'
                           }
                %>

              </div>

              <%= render partial: 'pages/activity_item',
                         locals:  {
                             id:     'activity-28',
                             title:  'Take a nap',
                             symbol: :check
                         }
              %>

              <div class="row ml-3 resources-overview collapse" id="activity-28">
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Seat',
                               availability: 'Very likely'
                           }
                %>

              </div>

              <%= render partial: 'pages/activity_item',
                         locals:  {
                             id:     'activity-29',
                             title:  'Eat or drink',
                             symbol: :question
                         }
              %>

              <div class="row ml-3 resources-overview collapse" id="activity-29">
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Seat',
                               availability: 'Likely'
                           }
                %>
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Table',
                               availability: 'Not very likely'
                           }
                %>
                <%= render partial: 'pages/resource_item_only',
                           locals:  {
                               title:        'Trolley Service',
                               availability: 'Likely'
                           }
                %>

              </div>
            </div>
          </div>

          <div class="tracking-item">
            <div class="tracking-icon status-intransit">
              <i class="fas fa-circle"></i>
            </div>
            <div class="tracking-date">London St Pancras
              International<span>10:04</span>
            </div>
          </div>

        </div><!-- tracking-list-->

        <br>
        <br>

        <%= render partial: 'navigation_buttons',
                   locals:  {
                       forward_url: false,
                       back_url:    journeys_activities_url,
                   }
        %>


      </div><!-- tracking -->

    </div><!--    col-->
  </div><!--  row-->
