@import "~bootstrap";

@import "../stylesheets/template/css/bootstrap.min";
@import "../stylesheets/template/css/bootstrap-datepicker";
@import "../stylesheets/template/fonts/flaticon/font/flaticon.css";
@import "../stylesheets/template/fonts/icomoon/style.css";
@import "../stylesheets/template/css/owl.theme.default.min";
@import "../stylesheets/template/css/style";

@import "../stylesheets/variables";
@import "checkbox";
@import "../stylesheets/timeline_3";
@import "../stylesheets/timeline_4";
@import "../stylesheets/custom";

@import url('https://fonts.googleapis.com/css?family=Rubik:400,700');

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

$simple-line-font-path: '~simple-line-icons/fonts/';
@import "~simple-line-icons/scss/simple-line-icons";
