
.grey {color: $grey !important;}
.dark-grey {color: $theme-dark-grey !important;}
.green {color: $green !important;}
.red {color: $red !important;}
.yellow {color: $yellow !important;}
.theme { color: $theme-red !important; }


.theme-red {
  color: $theme-red !important;
}

.theme-red-bg {
  background-color: $theme-red !important;
  border-color: $theme-red !important;
}

.theme-blue {
  color: $theme-blue !important;
}

.theme-blue-bg {
  background-color: $theme-blue !important;
  border-color: $theme-blue !important;
}

.theme-blue-border-primary:after {
  background: $theme-blue !important;
}



.radio {
  position: relative;
  cursor: pointer;
  line-height: 20px;
  font-size: 14px;
  margin: 15px;
}

.radio .label {
  position: relative;
  display: block;
  float: left;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 2px solid #c8ccd4;
  border-radius: 100%;
  -webkit-tap-highlight-color: transparent;
}

.radio .label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  //background: #f38181 !important;
  transform: scale(0);
  transition: all 0.2s ease;
  opacity: 0.08;
  pointer-events: none;
}

.radio .theme-red-label:after {
  background: $theme-red !important;
}

.radio .theme-blue-label:after {
  background: $theme-blue !important;
}

.radio:hover .label:after {
  transform: scale(3.6);
}

//input[type="radio"]:checked + .label  {
//  border-color: $theme-red;
//}

input[type="radio"]:checked + .theme-red-label {
  border-color: $theme-red;
}

input[type="radio"]:checked + .theme-blue-label {
  border-color: $theme-blue;
}

input[type="radio"]:checked + .label:after {
  transform: scale(1);
  transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
  opacity: 1;
}

.cntr {
  position: relative;
  top: calc(50% - 10px);
  left: 0;
  width: 100%;
  text-align: center;
}

.hidden {
  display: none;
}

//.border-bottom-theme {
//  border-bottom: 2px solid #f38181 !important;
//}


.time {
  letter-spacing: 0px;
  font-size: 1.143rem;
  line-height: 1.2;
}

.station {
  font-size: 0.67rem;
  line-height: 1.304;
}

.journey-title {
  border-bottom:3px solid grey !important;
}

.pager {
  background: $border-color;
  font-size: 0.8rem;
  cursor: pointer;
}

.resources-overview {
}

.resource-item {
  border: 2px solid $theme-grey;
  padding: 1rem 0.5rem;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin:5px;
}

.resource-title {
  font-size: 0.83rem;
  font-weight: bolder;
}

.resource-description {
  font-size: 0.75rem;
  line-height: 1.304;
}

.emoticon {
  height: 20px;
  width: 20px;
}

.very-likely {border-color: $very-likely;}
.likely {border-color: $likely;}
.possible {border-color: $possible;}
.not-likely {border-color: $not-likely;}
.not-very-likely {border-color: $not-very-likely;}

.available { color: $green; }
.not-available { color: $red; }
.no-data { color: $yellow; }

#route-links a {
  color: #fff !important;
  text-decoration: underline;
  font-size: .85rem;
}

#route-links {
  color: #fff !important;
  font-size: .85rem;
}


.theme-blue-journey-item:focus-within {
  border: solid 2px $theme-blue !important;
}

.theme-red-journey-item:focus-within {
  border: solid 2px $theme-red !important;
}

.theme-red-journey-item,
.theme-blue-journey-item {
  cursor: pointer;
}

.theme-red-journey-item .more-link {
  background-color: $theme-red !important;

}

.theme-blue-journey-item .more-link {
  background-color: $theme-blue !important;
}

.theme-blue-journey-item  .more-link,
.theme-red-journey-item  .more-link {

  padding: 5px 10px;
  color: #fff !important;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: .75rem;
}


