


.timeline {
  position: relative;
  padding: 1rem;
  margin: 0 auto;
  max-width: 1300px;

  &:before {
    content: '';
    position: absolute;
    height: 100%;
    border: 1px solid $lineColor;
    right: 40px;
    top: 0;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (min-width: $breakpoint) {
    padding: 2rem;
    &:before {
      left: calc(50% - 1px);
      right: auto;
    }
  }
}

.timeline__item {
  padding: 1rem;
  border: 2px solid $lineColor;
  //border-image: linear-gradient(to right, $color 0%, $lineColor 100%);
  border-image-slice: 1;
  position: relative;
  //margin: 1rem 3rem 1rem 1rem;
  clear: both;

  &:after,
  &:before {
    content: '';
    position: absolute;
  }

  &:before {
    right: -10px;
    top: calc(50% - 5px);
    border-style: solid;
    border-color: $lineColor $lineColor transparent transparent;
    border-width: 10px;
    transform: rotate(45deg);
  }

  @media screen and (min-width: $breakpoint) {
    width: 44%;
    margin:3rem 1rem;

    &:nth-of-type(2n) {
      float: right;
      margin: 1rem;
      //border-image: linear-gradient(to right, $lineColor 0%, $color 100%);
      border-image-slice: 1;
      margin:3rem 1rem;

      &:before {
        right: auto;
        left: -10px;
        border-color:transparent transparent $lineColor $lineColor;
      }
    }
  }
}

.timeline__item--year {
  text-align: center;
  max-width: 150px;
  margin: 0 48px 0 auto;
  font-size: 1rem;
  background-color: white;
  line-height: 1;
  border-image: none;
  padding: 1rem;
  border-color: $theme-dark-grey !important;

  &:before {
    display: none;
  }

  @media screen and (min-width: $breakpoint) {
    text-align: center;
    margin: 0 auto;

    &:nth-of-type(2n) {
      float: none;
      margin: 0 auto;
      border-image: none;

      &:before {
        display: none;
      }
    }
  }
}

.timeline__title {
  letter-spacing: 0px;
  font-size: 1.143rem;
  line-height: 1.2;
}

.timeline__blurb {
  line-height: 1.5;
  font-size: 0.9rem;
}