$breakpoint: 700px;
$theme-grey: #dee2e6;
$theme-dark-grey: grey;
$theme-red: #f38181;
$theme-blue: #0facf3;
$lineColor: $theme-red;

$green: #64CB60;
$red: #ff565e;
$yellow: #ffc10e;
$grey: $theme-grey;

$very-likely: $green;
$likely: $green;
$possible: $yellow;
$not-likely: #FF8444;
$not-very-likely: $red;

