    /*
    Flaticon icon font: Flaticon
    Creation date: 05/05/2019 07:57
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./template/fonts/flaticon/font/Flaticon.eot");
  src: url("./template/fonts/flaticon/font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./template/fonts/flaticon/font/Flaticon.woff2") format("woff2"),
       url("./template/fonts/flaticon/font/Flaticon.woff") format("woff"),
       url("./template/fonts/flaticon/font/Flaticon.ttf") format("truetype"),
       url("./template/fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./template/fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-hotel:before { content: "\f100"; }
.flaticon-microphone:before { content: "\f101"; }
.flaticon-restaurant:before { content: "\f102"; }
.flaticon-cutlery:before { content: "\f103"; }
.flaticon-flower:before { content: "\f104"; }
.flaticon-bike:before { content: "\f105"; }
    
    $font-Flaticon-hotel: "\f100";
    $font-Flaticon-microphone: "\f101";
    $font-Flaticon-restaurant: "\f102";
    $font-Flaticon-cutlery: "\f103";
    $font-Flaticon-flower: "\f104";
    $font-Flaticon-bike: "\f105";