	/*
  	Flaticon icon font: Flaticon
  	Creation date: 05/05/2019 07:57
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("template/fonts/flaticon/font/Flaticon.eot");
  src: url("template/fonts/flaticon/font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("template/fonts/flaticon/font/Flaticon.woff2") format("woff2"),
       url("template/fonts/flaticon/font/Flaticon.woff") format("woff"),
       url("template/fonts/flaticon/font/Flaticon.ttf") format("truetype"),
       url("template/fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("template/fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-hotel:before { content: "\f100"; }
.flaticon-microphone:before { content: "\f101"; }
.flaticon-restaurant:before { content: "\f102"; }
.flaticon-cutlery:before { content: "\f103"; }
.flaticon-flower:before { content: "\f104"; }
.flaticon-bike:before { content: "\f105"; }