<!DOCTYPE html>
<html>
  <head>
    <title>TimeWise</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="site-section">
    <div class="container">

      <div class="row justify-content-center mb-5">
        <div class="col-md-12 col-lg-12 col-sm-12 text-center border-primary <%= @theme %>-border-primary">
          <h2 class="font-weight-light text-primary">
            <a href="<%= @theme == 'theme-blue' ? start_activities_path : start_resources_path  %>" class="<%= @theme %>">
              TimeWise
            </a>
          </h2>
          <p class="color-black-opacity-5">Helping you make the most of your travel time</p>
        </div>
      </div>

      <%= yield %>
    </div>
    <div class="text-center small mt-5">Icons made by <a href="https://www.flaticon.com/authors/roundicons" class="<%= @theme %>" title="Roundicons">Roundicons</a> from <a href="https://www.flaticon.com/" class="<%= @theme %>" title="Flaticon">www.flaticon.com</a></div>
  </div>


  </body>
</html>
